@import nib

h1
  font-size 3em
  @media only screen and (min-device-width : 768px)
    font-size 4em

.kavin-accent
  color #F44336

input[type="text"]:focus
  border-color rgba(229, 115, 115, 0.8);
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(229, 115, 115, 0.6);

#kavinism
  margin-top 50px
  text-align center
  line-height 100%
  font-size 4em
  @media only screen and (min-device-width : 768px)
    font-size 8em
